/*-----------------------------------------------------------------------------------------*/
/*-----------------------------STYLE POUR LES LABELS, INPUTS...----------------------------*/
/*-----------------------------------------------------------------------------------------*/
label
{
	/*position:relative;*/
	display: block;
	float:left;	
	width:230px;
	margin-top:0.5em;
}

input 
{
	/*float:left;*/
	/*position:relative;*/
	/*margin-left:10px;*/
	margin-top:0.5em;	
}

select
{
	display: block;
	/*float:left;*/
	margin-top:0.5em;
	width:200px;
}

textarea
{
	margin-top:0.5em;
	resize:none;
}

checkbox, radio
{
	display: block;
	float:left;
	cursor: pointer;
}

#sectionGauche
{
	margin-left:0;
	float:left;
	width:600px;
}

#sectionDroite
{
	float:right;
	width:600px;
	/*position:relative;*/
	margin-left: 20px;
}

#nomDepouse, #nomED
{
	visibility:hidden;
}

#cadre
{
	border: 2px solid black;
	margin-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.2em;
}

#bas
{
	border-top:2px solid black;
	float:inline-end;
	margin-top:0.5em;
	margin-left:0;
}

#sujetThese, #cotutelle, #financement, #CDA1, #MSA1, #CSA1,#CDA2, #MSA2, #CSA2, #MSA3, #CSA3
{
	font-size:20px;
	font-weight:bold;
}

#CSA1, #CSA2, #CSA3
{
	width:260px;
}

#annee1, #annee2, #annee3
{
	border-style: double;
	width:1300px;
	border-radius:5px;
	padding-bottom:0.2em;
	padding-left:0.2em;
	padding-right:.2em;
	margin-top:0.2em;
}

#cda2val, #msa2val, #csa2val, #cda1val, #msa1val, #csa1val, #msa3val, #csa3val
{
	width:50px;
	margin-left:20px;
}

#cda1suivi, #msa1suivi, #csa1suivi,#cda2suivi, #msa2suivi, #csa2suivi,#msa3suivi, #csa3suivi
{
	width:150px;
	display:inline;
}

/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------ONGLETS--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 36px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 25px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------CACHER LES ONGLETS--------------------------------*/
/*-----------------------------------------------------------------------------------------*/

 
.container {
 width: 700px; height: 700px; /* On donne une largeur/hauteur fixe à notre container*/
 overflow: hidden ;/* On cache tout ce qui dépasserait de container*/
}

#these {
 position: absolute;
 top: -800; left: -800; 
}
#doctorant {
 position: absolute;
 top: -700; left: -700; 
}
#prethese {
 position: absolute;
 top: -700; left: 0; 
}
#cours {
 position: absolute;
 top: -1500; left: -1500; 
}  
#saisie {
 position: absolute;
 top: -700; left: 0; 
} 
#stat {
 position: absolute;
 top: -700; left: 0; 
} 


#these:target{
 position: absolute;
 top: 100; left: 100; 
}
#doctorant:target {
 position: absolute;
 top: 100; left: 100;  
}
#prethese:target {
 position: absolute;
 top: 100; left: 100; 
}
#cours:target {
 position: absolute;
 top: 100; left: 100; 
}
#saisie:target {
 position: absolute;
 top: 100; left: 100; 
}
#stat:target {
 position: absolute;
 top: 100; left: 100; 
}
