/*-----------------------------------------------------------------------------------------*/
/*-----------------------------STYLE POUR LES LABELS, INPUTS...----------------------------*/
/*-----------------------------------------------------------------------------------------*/
label
{
	position:relative;
	/*text-align:right;*/
	
}

input 
{
	position:relative;
	margin-left:10px;
	margin-top:0.5em;
	
}

select
{
	margin-top:0.5em;
}

textarea
{
	margin-top:0.5em;
}

#sectionGauche
{
	margin-left:0;
	float:left;
	width:500px;
}

#sectionDroite
{
	float:right;
	/*position:relative;*/
	margin-left: 20px;
}


checkbox, radio
{
	cursor: pointer;
}

#nomDepouse, #nomED
{
	visibility:hidden;
}

textarea
{
	resize:none;
}

#cadre
{
	border: 2px solid black;
	margin-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.2em;
}

#bas
{
	border-top:2px solid black;
	float:inline-end;
	margin-top:0.5em;
	margin-left:0;
}

/*hr
{
	position:absolute;
}*/

select
{
	width:200px;
}

#sujetThese, #cotutelle, #financement
{
	font-size:20px;
	font-weight:bold;
}

/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------ONGLETS--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 36px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}


#onglets li
{
    float : left;
    height : 25px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}


#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
0

#onglets a:hover
{
    background : #fff;
}


/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------CACHER LES ONGLETS--------------------------------*/
/*-----------------------------------------------------------------------------------------*/

 
.container {
 width: 700px; height: 700px; /* On donne une largeur/hauteur fixe à notre container*/
 overflow: hidden ;/* On cache tout ce qui dépasserait de container*/
}

#these {
 position: absolute;
 top: -700; left: -700; 
}
#doctorant {
 position: absolute;
 top: -700; left: -700; 
}
#prethese {
 position: absolute;
 top: -700; left: 0; 
}
#1A {
 position: absolute;
 top: -700; left: 0; 
} 
#2A {
 position: absolute;
 top: -700; left: 0; 
}
#3A {
 position: absolute;
 top: -700; left: 0; 
} 


#these:target{
 position: absolute;
 top: 100; left: 100; 
}
#doctorant:target {
 position: absolute;
 top: 100; left: 100;  
}
#prethese:target {
 position: absolute;
 top: 100; left: 100; 
}
#1A:target {
 position: absolute;
 top: 100; left: 100; 
}
#2A:target {
 position: absolute;
 top: 100; left: 100; 
}
#3A:target {
 position: absolute;
 top: 100; left: 100; 
}
