#boutonDeconnexion,#boutonRetourMenu{
	display:block;
	position:relative;
	float:right;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------STYLE POUR LES LABELS, INPUTS...----------------------------*/
/*-----------------------------------------------------------------------------------------*/
label
{
	/*position:relative;*/
	display: block;
	float:left;	
	width:230px;
	margin-top:0.5em;
}

input 
{
	/*float:left;*/
	/*position:relative;*/
	/*margin-left:10px;*/
	margin-top:0.5em;	
}

select
{
	display: block;
	/*float:left;*/
	margin-top:0.5em;
	width:200px;
}

textarea
{
	margin-top:0.5em;
	resize:none;
}

checkbox, radio
{
	display: block;
	float:left;
	cursor: pointer;
}

#sectionGauche
{
	margin-left:0;
	float:left;
	width:600px;
}

#sectionDroite
{
	float:right;
	width:600px;
	/*position:relative;*/
	margin-left: 20px;
}

#nomDepouse, #nomED
{
	visibility:hidden;
}


/*-----------------Onglet these-----------------*/
#cadre
{
	border: 2px solid black;
	margin-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.2em;
}

#bas
{
	border-top:2px solid black;
	float:inline-end;
	margin-top:0.5em;
	margin-left:0;
}

/*--------------Onglet cours------------------*/

#anne1, #anne2, #anne3
{
	font-size:20px;
	font-weight:bold;
	text-decoration:underline;
}

#sujetThese, #cotutelle, #financement, #CDA1, #MSA1, #CSA1,#CDA2, #MSA2, #CSA2, #MSA3, #CSA3
{
	font-size:15px;
	font-weight:bold;
}

#CDA1, #MSA1, #CSA1,#CDA2, #MSA2, #CSA2, #MSA3, #CSA3
{
	width:230px;
}

/*Les divs des différentes années de l'onglet cours*/
div#annee1, div#annee2, div#annee3
{
	border-style: double;
	width:1000px;
	border-radius:5px;
	padding-bottom:0.2em;
	padding-left:0.2em;
	margin-top:0.2em;
}

/*Les labels de l'onglets cours*/
#cda2val, #msa2val, #csa2val, #cda1val, #msa1val, #csa1val, #msa3val, #csa3val
{
	width:130px;
	margin-left:20px;
	display:inline;
	position:absolute;
}

/*Les selects de l'onglet cours*/
#cda1suivi, #msa1suivi, #csa1suivi,#cda2suivi, #msa2suivi, #csa2suivi,#msa3suivi, #csa3suivi
{
	width:150px;
	display:inline;
}

#commentairea1,#commentairea2, #commentairea3
{
	float:right;
	position:relative;
	display:inline;
	bottom:150px;
	right:130px;
}

/*----------------Onglet soutenance-------------*/
#2rapports,#doctorat,#nomdoctorat
{
	width:500px;
	margin-right:0.5em;
	/*margin-top:0.5em;*/
}

#dateValidRapp,#dateCompositionJury,#edstnonvalide,#desRapports,#copoJury
{
	width:450px;
	margin-right:0.5em;
}

#inscsout,#desrapp,#compJury,#2rapp
{
	/*margin-left:40px;*/
}

/*triche pour placement des input de date*/
#dateValidationRapp,#dateCompoJury
{
	position:absolute;
	margin-top:5.7em;
	/*margin-left:0.5em;*/
	
}
/*---------------Onglet post these------------*/
#PT1,#PT2,#PT3
{
	border: 2px solid black;
	margin-top:0.8em;
	margin-bottom:0.5em;
	width:1300px;
	/*display:inline-block;*/
}

#aterAvSout,#formationComp,#postdoc,#dureepostdoc,#succesqualif
{
	width:400px;
}

/*----------Onglet these +2 et +3---------*/
#departement3,#departement,#doctorantdeter3,#doctorantdeter,#paysjob3,#paysjob,#recrutement3,#recrutement
{
	width:360px;
	/*position:absolute;
	display:inline;*/
}

#salaire3,#salaire
{
	/*display:block;
	position:relative;*/
}

#euro3, #euro
{
	float:right;
	margin-left:5px;
}
/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------ONGLETS--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 36px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 25px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------CACHER LES ONGLETS--------------------------------*/
/*-----------------------------------------------------------------------------------------*/

 
.container {
 width: 700px; height: 700px; /* On donne une largeur/hauteur fixe à notre container*/
 overflow: hidden ;/* On cache tout ce qui dépasserait de container*/
}

#these 
{
 position: absolute;
 top: -800px; left: -800px; 
}
#prethese,#saisie,#stat,#soutenance,#doctorant,#postthese,#Tdeux,#Ttrois
{
 position: absolute;
 top: -700px; left: -700px; 
}
#cours 
{
 position: absolute;
 top: -1500px; left: -1500px; 
}  


#these:target,#doctorant:target,#prethese:target,#cours:target,#saisie:target ,#stat:target,#soutenance:target,#postthese:target,#Tdeux:target,#Ttrois:target
{
 position: absolute;
 top: 100px; left: 100px; 
}